.cards-game-section {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  perspective: 800px;
}

.card-wrapper {
  position: relative;
  transform-style: preserve-3d;
  transition: transform .3s;
}

.backface {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.frontface {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.card-wrapper.flip {
  transform: rotateY(180deg);
}

.number {
  position: absolute;
}
